.forgotpassword-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  
  }
  .no-show{
    display: none;
  }
  .forgotpassword-screen__form {
    width: 400px;
    height: 300px;
    padding: 1.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #36485e 0%, #324357 100%);
    border-radius: 6px;
  }
  
  .forgotpassword-screen__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2em;
    font-weight: lighter;
    color: rgb(230, 230, 230);
  }
  
  .forgotpassword-screen__subtext {
    font-size: 0.7rem;
    display: block;
    margin: 0.5rem 0;
  }

  .login-link {
    color: rgb(235, 235, 235);
    border-bottom: 2px solid rgb(230, 230, 230);
    padding-bottom: 3px;
  }

  .login-link:hover {
    color: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }