.login-screen {
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .redirect-link{
   color: rgb(228, 228, 228);
   border-bottom: 1px solid rgb(146, 146, 146);
 }
  
  .login-screen__form {
    width: 300px;
    padding: 1.5rem;
    
    background: transparent
  }
  
  .login-screen__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-screen__forgotpassword {
    font-size: 0.7rem;
  }
  
  .login-screen__subtext {
    font-size: 0.7rem;
    display: block;
    margin: 0.5rem 0;
  }