.Barcharts {
    display: flex;
    position: relative;
    width: 600px;
    height: 300px;
    margin: 0;
    
}

.piecharts {
    display: flex;
    position: relative;
    width: 500px;
    height: 300px;
    
}

.chart-c {
    display: flex;
}